CMakeLists.txt.user
game/
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

*.workspace
*.project
pointerMazeGameV2
Makefile
core/.codelite/
core/src/Debug/
*.sln
*.vcxproj
*.filters
*.user
core/src/default.txt
core/src/x64/

